/* Starts CSS stylesheet */
/* Styling mobile first */

#pop {
    font-family: 'Poppins', sans-serif;
}

.pop {
    color: black;
}

#txtfood {
    font-weight: 700;
}

.body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

h4 {
    font-size: 24px;
    font-weight: 100;
}

h1 {
    font-size: 58px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    color: #252B42;
}

h3 {
    font-size: 24px;
    color: #FA4A0C;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav-list li {
    list-style: none;

}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    margin-right: 50px;
    margin-top: 40px;
    align-self: flex-end;
}

.nav-list li a {
    text-decoration: none;
    padding: 40px;
    padding-right: 30px;
    color: #252B42;
    font-size: 16px;
    font-weight: 600;
}

.logo {
    margin-left: 50px;
}

.banner1 {
    margin: 0;
    padding: 0;
    background: url(../img/Rectangle\ 48.png);
    height: 700px;
    background-size: cover;
    background-position: center;
}

.text-banner {
    text-align: center;
    padding-top: 50px;
    color: white;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.playstore {
    width: 236px;
    height: 68px;
    border-radius: 30px;
    border: none;
    background-color: #FA4A0C;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.appstore {
    width: 236px;
    height: 68px;
    border-radius: 30px;
    border: solid 1px;
    border-color: white;
    background-color: transparent;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.btn-play {
    padding: 20px;
}

.btn-app {
    padding: 20px;
}

.mobile {
    display: flex;
    justify-content: center;
}

#mobile {
    border-bottom: 3px solid #E4E4E4;
}

.main-content {
    padding-top: 700px;
}

.pop {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .txt {
    text-align: center;
    padding-top: 50px;
 }

 .cell {
    display: flex;
    justify-content: center;
 }

 .foot-banner {
    background-color: #252B42;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 #white {
    color: white;
 }


